{% extends 'admin/article.html' %}

{% block button %}{% endblock button %}

{% block extra_head_style %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock extra_head_style %} 

{% block table_content %}
<form action="" method="post" class="mt-4">
    {{ form.csrf_token }}
    <div class="field">
        {{ form.title.label(class='label') }}
        <div class="control">
            {{ form.title(class='input', placeholder='标题') }}
        </div>
    </div>
    <div class="field">
        {{ form.desc.label(class='label') }}
        <div class="control">
            {{ form.desc(class='input', placeholder='描述') }}
        </div>
    </div>

    <div class="field">
        {{ form.category_id.label(class='label') }}
        <div class="control">
            <div class="select is-fullwidth">
                {{ form.category_id }}
            </div>
        </div>
    </div>

    <div class="field">
        {{ form.content.label(class='label') }}
        <div class="control">
            {{ form.content(class='textarea', rows="10", placeholder='文章详情') }}
        </div>
        <!-- 富文本编辑器 -->
        <div id="editor" style="height: 500px;"></div>
    </div>

    <div class="field">
        {{ form.tags.label(class='label') }}
        <div class="control">
            <div class="select is-fullwidth is-multiple">
                {{ form.tags(size='5') }}
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        {{ form.has_type.label(class='label') }}
        <div class="field-body ml-4">
            <div class="control">
                <label class="radio">
                    <input type="radio" name="has_type" value="draft">
                    草稿
                </label>
                <label class="radio">
                    <input checked type="radio" name="has_type" value="show">
                    发布
                </label>
            </div>
        </div>
    </div>
    <div class="is-block">
        <div class="box has-background-light is-shadowless level">
            <button class=" is-danger button level-left">删除</button>
            <div class="level-right">
                <a href="{{ url_for('admin.article') }}" class="button is-primary is-light mr-2">返回</a>
                <input type="submit" value="保存" class=" button is-success">
            </div>
        </div>
    </div>
<!-- <input type="file" name="upload"> -->
</form>
{% endblock table_content %}

{% block extra_foot_script %}
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
{% endblock extra_foot_script %}

{% block vue_script %}
<script>
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike', 'link'],        // toggled buttons
        ['blockquote', 'code-block', 'image'],

        // [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        // [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
    ];

    var quill = new Quill('#editor', {
        debug: 'info',
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow',
        placeholder: 'Compose an epic...',
        readOnly: false,
        formats: {}
    });


    // 监听富文本并同步到表单
    quill.on('text-change', function (delta, oldDelta, source) {
        content.innerHTML = quill.container.firstChild.innerHTML;
    });

    var html = quill.container.firstChild.innerHTML;
    var content = document.querySelector("textarea[name='content']");
    // 回显内容
    quill.pasteHTML(content.value)

    // 隐藏表单
    content.setAttribute('style', 'display:none')

    var showImageUI = function(){
        // console.log('asdasda')
        var fileInput = this.container.querySelector('input.ql-image[type=file]');
        // console.log(fileInput)
        if (fileInput == null) {
            // 通过js方式构造一个上传表单
            fileInput = document.createElement('input');
            fileInput.setAttribute('type', 'file');
            fileInput.setAttribute('accept', 'image/png, image/gif, image/jpeg, image/jpg, image/bmp, image/x-icon');
            fileInput.classList.add('ql-image');
        }
        // 监听change事件
        fileInput.addEventListener('change', function () {
            if (fileInput.files != null && fileInput.files[0] != null) {
                const formData = new FormData();
                formData.append('upload', fileInput.files[0]);
                axios({
                    url:'{{ url_for("admin.upload") }}',
                    method:'post',
                    data: formData,
                    headers:{'content-type': 'multipart/form-data'},
                }).then(res => {
                    // 返回错误提示
                    if (res.data.code == 'err'){
                        alert(res.data.message)
                        return
                    }
                    // 设置图片回显到富文本编辑器
                    var range = quill.getSelection(true);
                    quill.insertEmbed(range.index, 'image', res.data.url);
                    quill.setSelection(range.index + 1);
                }).catch(err => {
                    console.log(err)
                })
            }
        })

        // 绑定点击事件
        fileInput.click();
    }

    // 上传图片
    var toolbar = quill.getModule('toolbar');
    toolbar.addHandler('image', showImageUI);
</script>
{% endblock vue_script %}