{% extends 'admin/category.html' %}

{% block button %}{% endblock button %}


{% block table_content %}
    <form action="" method="post" class="mt-4">
        {{ form.csrf_token }}
        <div class="field">
            {{ form.name.label(class='label') }}
            <div class="control">
                {{ form.name(class='input', placeholder='分类名称') }}
            </div>
        </div>
        <div class="field">
            {{ form.icon.label(class='label') }}
            <div class="control">
                {{ form.icon(class='input', placeholder='分类图标') }}
            </div>
        </div>
        <div class="is-block">
            <div class="box has-background-light is-shadowless level">
                <a href="" class=" is-danger button level-left">删除</a>
                <div class="level-right">
                    <a href="{{ url_for('admin.category') }}" class="button is-primary is-light mr-2">返回</a>
                    <input type="submit" value="保存" class=" button is-success">
                </div>
            </div>
        </div>

    </form>
{% endblock table_content %}