{% extends 'admin/index.html' %}

{% block menus %}
<aside class="menu">
    <p class="menu-label">
        个人中心
    </p>
    <ul class="menu-list">
        <li><a class="{% if request.path == '/auth/' %}is-active{% endif %}"
                href="{{ url_for('auth.userinfo') }}">个人信息</a></li>
        <li>
            <a class="" href="">我的收藏</a>
        </li>
        <li>
            <a class="" href="">我的评论</a>
        </li>
    </ul>
</aside>
{% endblock menus %}

{% block member %}
<template>
    <b-tabs>
        <b-tab-item label="个人信息" icon="account-outline">

            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px; padding-bottom: 1rem">
                <div class="column is-narrow">
                    <figure class="image is-96x96">
                        <img class="is-rounded" src="/admin/static/{{ g.user['avatar'] }}">
                    </figure>
                </div>
                <div class="column is-narrow">
                    <div style="padding-top: 1.5rem;">
                        <h1 class="title is-size-4">{{ g.user['username'] }}</h1>
                        <p class="subtitle is-size-6">暂未设置个性签名</p>
                    </div>
                </div>
                <div class="column is-narrow-mobile">
                    <a class=" button is-light is-pulled-right" href="" style="margin-top: 1.8rem">修改信息</a>
                </div>
            </div>

            <div class="columns" style="padding:1rem 0; ">
                <div class="column is-2">
                    <p>个人信息</p>
                </div>
                <div class="column">
                    <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                        <div class="column is-2">
                            <span class=" has-text-grey-light">用户名</span>
                        </div>
                        <div class="column is-narrow">
                            <span class=" has-text-black-ter">{{ g.user['username'] }}</span>
                        </div>
                    </div>
                    <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                        <div class="column is-2">
                            <span class=" has-text-grey-light">性别</span>
                        </div>
                        <div class="column is-narrow">
                            <span class=" has-text-black-ter">暂未设置</span>
                        </div>

                    </div>
                    <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                        <div class="column is-2">
                            <span class=" has-text-grey-light">邮箱</span>
                        </div>
                        <div class="column is-narrow">
                            <span class=" has-text-black-ter">asdas@qq.com</span>
                        </div>

                    </div>

                    <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                        <div class="column is-2">
                            <span class=" has-text-grey-light">地址</span>
                        </div>
                        <div class="column is-narrow">
                            <span class=" has-text-black-ter">暂未添加地址</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="columns" style="padding:1rem 0; ">
                <div class="column is-2">
                    <p>个人简介</p>
                </div>
                <div class="column">
                    <div class="content">

                        暂未设置

                    </div>
                </div>
            </div>

        </b-tab-item>
    </b-tabs>
</template>
{% endblock member %}